.deck.empty {
    box-shadow: 0px 0px 10px whitesmoke;
}

.deck.actionable {
    cursor: grab;
}

.deck.actionable:hover .card {
    box-shadow: 0px 0px 6px whitesmoke;
}

.card,
.deck.empty {
    border-radius: 7px;
    width: 90px;
    height: 150px;
}

.card {
    background-color: white;
    background-size: 1230px 781px;
    border: 1px solid black;
    padding: 3px;
    font-family: sans-serif;
    font-size: 13pt;
    writing-mode: vertical-lr;
    text-orientation: upright;

    .bottom-value {
        position: absolute;
        bottom: 3px;
        right: 3px;
        filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
        /* IE6,IE7 */
        ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
        /* IE8 */
        -moz-transform: rotate(-180deg);
        /* FF3.5+ */
        -o-transform: rotate(-180deg);
        /* Opera 10.5 */
        -webkit-transform: rotate(-180deg);
        /* Safari 3.1+, Chrome */
    }
}

.card.face-down {
    background: url(#{'../images/card-back-1.jpeg'});
    background-size: 108px 165px;
    background-position: -6px -4px;
}

.card.Heart,
.card.Diamond {
    color: red;
}

.card.Club,
.card.Spade {
    color: black;
}

.card.J♣ .card-text,
.card.Q♣ .card-text,
.card.K♣ .card-text,
.card.J♦ .card-text,
.card.Q♦ .card-text,
.card.K♦ .card-text,
.card.J♥ .card-text,
.card.Q♥ .card-text,
.card.K♥ .card-text,
.card.J♠ .card-text,
.card.Q♠ .card-text,
.card.K♠ .card-text {
    display: none
}

.card.J♣.face-up {
    background-image: url(#{'../images/cards.png'});
    background-position: 284px 0px;
}

.card.Q♣.face-up {
    background-image: url(#{'../images/cards.png'});
    background-position: 189px 0px;
}

.card.K♣.face-up {
    background-image: url(#{'../images/cards.png'});
    background-position: 1325px 0px;
}

.card.J♦.face-up {
    background-image: url(#{'../images/cards.png'});
    background-position: 284px -157px;
}

.card.Q♦.face-up {
    background-image: url(#{'../images/cards.png'});
    background-position: 189px -157px;
}

.card.K♦.face-up {
    background-image: url(#{'../images/cards.png'});
    background-position: 1325px -157px;
}

.card.J♥.face-up {
    background-image: url(#{'../images/cards.png'});
    background-position: 284px -313px;
}

.card.Q♥.face-up {
    background-image: url(#{'../images/cards.png'});
    background-position: 189px -313px;
}

.card.K♥.face-up {
    background-image: url(#{'../images/cards.png'});
    background-position: 1325px -313px;
}

.card.J♠.face-up {
    background-image: url(#{'../images/cards.png'});
    background-position: 284px -469px;
}

.card.Q♠.face-up {
    background-image: url(#{'../images/cards.png'});
    background-position: 189px -469px;
}

.card.K♠.face-up {
    background-image: url(#{'../images/cards.png'});
    background-position: 1325px -469px;
}
