// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// Colours
$tasktop-green: #4f7300;
$light-grey: #CCC;
$mid-grey: #868686;
$dark-navy: #551A8B;
